<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>
    
        <div class="form">
            <form action="/weather" method="POST">
                <label for="City">ENTER CITY:</label>
                <input type="text" name="city" id="city"><br><br>
                <label for="appid">ENTER APIKEY:</label>
                <input type ="appid" id ="appid" name ="appid"><br><br>
                <label for="units">ENTER UNITS:</label>
                <input type ="units" id ="units"name ="units"><br><br>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>